<div class="calender-container">
  <div class="top-bar">
    <div>
      <span>All Products</span>
      <span>Erleada</span>
      <span>Zytiga</span>
    </div>
    <div class="toggle-container">
      <span>MY</span>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span>ALL</span>
    </div>
    <div class="toggle-container">
      <span>Month</span>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span>Week</span>
    </div>
    <div>
      <input type="search" placeholder="Search HCP/HCO" />
    </div>
  </div>
  <div class="calender-container"></div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
