<div class="all-container">
  <div class="top-bar">
    <div class="tabs">
      <div>All Products</div>
      <div>Erleada</div>
      <div>Zytiga</div>
    </div>
    <div class="toggle-container">
      <span>MY</span>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span>ALL</span>
    </div>
    <div class="toggle-container">
      <span>Month</span>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span>Week</span>
    </div>
    <div class="search-container">
      <i class="fa-solid fa-magnifying-glass fa-2x"></i>
      <input type="search" placeholder="Search HCP/HCO" />
    </div>
  </div>
  <div class="calender-container">
    <div class="title-container">
      <div>HCP List</div>
      <div>Confirmed Schedule</div>
      <div>ACE Recommended Frequency</div>
    </div>
    <div class="title-container">
      <div>ACE Prioritation</div>
      <div>June 2021</div>
      <div>June 2021</div>
    </div>
    <div class="content-container">
      <div class="name-container">
        <div>ACE 1</div>
        <div>Dr Jack Smith</div>
        <div>Hospital name</div>
      </div>
      <div class="week-container">
        <div>Week 1</div>
        <div>Week 2</div>
        <div>Week 3</div>
        <div>Week 4</div>
        <div>Week 5</div>
      </div>
      <div class="events-container">
        <div class="icon-container">
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x hidden-icon"></i>
              <i class="fa-solid fa-flag fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-flag fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-address-book fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-computer fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-phone fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-inbox fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>
        <div class="common-container target-container">
          <div>Target</div>
          <div>6</div>
          <div>3</div>
          <div>6</div>
          <div>4</div>
          <div>1</div>
          <div>0</div>
        </div>
        <div class="common-container todo-container">
          <div>ToDo</div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-2 fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-2 fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-1 fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-1 fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-1 fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div>
            <span class="fa-stack">
              <i class="fa-solid fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-0 fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>
        <div class="common-container calc-container">
          <div>
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <div>6</div>
          <div>3</div>
          <div>6</div>
          <div>4</div>
          <div>1</div>
          <div>0</div>
        </div>
        <div class="common-container check-container">
          <div>
            <i class="fa-solid fa-check"></i>
          </div>
          <div>6</div>
          <div>3</div>
          <div>6</div>
          <div>4</div>
          <div>1</div>
          <div>0</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
